---
import HeroSection from '../components/HeroSection.jsx';
import BaseHead from '../components/BaseHead.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts.js";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	<main class="overflow-hidden bg-[#16172e] text-white">
		<HeroSection />
	</main>
	</body>
</html>
